{{- $workProfile := false -}}
{{- if (env "WORK_PROFILE") -}}
{{-   $workProfile = true -}}
{{- end -}}

[data]
    workProfile = {{ $workProfile }}

{{- if eq .chezmoi.os "darwin" }}
    os = "macos"
{{- else if eq .chezmoi.os "linux" }}
    os = "linux"
{{- end }}
