{{- if eq .chezmoi.os "darwin" -}}
# macOS Brewfile
tap "homebrew/bundle"
tap "homebrew/core"
brew "asdf"
brew "exa"
brew "fzf"
brew "bat"
brew "gh"
brew "starship"
brew "tig"
brew "zsh"
brew "zsh-completions"
{{ end -}}
