# エディターの補完を設定スキーマに合わせて取得
"$schema" = 'https://starship.rs/config-schema.json'

# シェルのプロンプトの間に空行を挿入する
add_newline = true
format = """
$directory| \
$all\
$character\
"""
# right_format = """
# $git_branch\
# $git_commit\
# $git_state\
# $git_metrics\
# $git_status\
# """

# 記号"❯"を記号"➜"に置き換える
# 編集するモジュールの名前は"character"
[character]
# "success_symbol"を記号"➜"で"bold green"(太字の緑色)にセット
success_symbol = " [❯](bold blue)[❯](bold blue)"
error_symbol = " [❯](bold dimmed blue)[❯](bold blue)"

[directory]
truncation_length = 100
truncate_to_repo = false
read_only = " 󰌾"
style = "bold green"
format = "[$path]($style)[$read_only]($read_only_style) "

[username]
style_user = "purple"
style_root = "red bold"
format = "[$user]($style)"
disabled = false

[hostname]
ssh_symbol = " "
format = "[$ssh_symbol](bold blue)[$hostname](red)"
#
# contexts
#
[kubernetes]
format = "on [\u2388 $context (ns:$namespace)](blue bold)$symbol "
disabled = false
contexts = [
  { context_pattern = "^.+prod$", symbol = "[\ueb3a](red) [ \uf071 PRODUCTION ](bg:red fg:white)" },
  { context_pattern = "^.+dev$", symbol = "[\ueb3a DEV](green)" },
]

[git_branch]
symbol = " "
format = '[$symbol$branch]($style)'

[git_status]
# format = '([\[$all_status$ahead_behind\]]($style))'

#
# packages
#
[aws]
symbol = " "

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
disabled = true

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
Zorin = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
symbol = " "

[swift]
symbol = " "

[xmake]
symbol = " "

[zig]
symbol = " "
